@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
}

:root {
  /* Colors */
  --blue-color: #5e56e7;
  --white-color: #f8f7ff;
  --light-grey-color: #f0f0f6;
  --medium-grey: #a0a0a0;
  --light-grey: #f0f0f6;
  --dark-grey: #333333;

  /* Typography */
  --font-primary: "Montserrat", sans-serif;

  --h1-size: 48px;
  --h1-weight: 600;

  --h2-size: 30px;
  --h2-weight: 600;

  --h3-size: 20px;
  --h3-weight: 400;

  --body-size: 16px;
  --body-weight: 400;

  --body2-size: 12px;
  --body2-weight: 400;
}

.blue-color {
  color: #5e56e7;
}

.white-color {
  color: #f8f7ff;
}

.light-grey-color {
  color: #f0f0f6;
}

.medium-grey-color {
  color: #a0a0a0;
}

.h1-font {
  font-size: 48px;
  font-weight: 600;
}

.h2-font {
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
}

.h3-font {
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
}

.body-font {
  font-size: var(--body-size);
  font-weight: var(--body-weight);
}

.body2-font {
  font-size: var(--body2-size);
  font-weight: var(--body2-weight);
}
